on init
    wait /dev/ion
    wait /dev/qseecom

    chown system system /dev/ion
    chown system drmrpc /dev/qseecom

    start qseecomd
    
    start qfintverify
    # Set permissions for persist partition
    mkdir /persist 0771 system system

    mkdir /preload 0771 system system

    export EXTERNAL_STORAGE /sdcard

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0
    
service qseecomd /sbin/qseecomd
    disabled
    seclabel u:r:recovery:s0
